includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    level: 4
    paths:
        - app
        - database
        - routes
        - tests
    ignoreErrors:
#        - '/^Access to an undefined property Laravel\\Nova\\Fields\\FormData::\$\w+\.$/'
