parameters:
	ignoreErrors:
#		-
#			message: "#^Cannot access property \\$id on mixed\\.$#"
#			count: 1
#			path: app/Providers/RouteServiceProvider.php
		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php
